#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://static.vecteezy.com/system/resources/previews/012/399/264/large_2x/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall-free-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}



